{% extends '../base.html' %}
{% block title %}profile detail{% endblock %}
{% block body %}

<div class="card" style="height: 170px; border-radius: 0;">


    <div class="img-name">
        {% if request.user.profile.picture %}
        <img src="{{request.user.profile.picture.url}}" alt="" style=" max-width: 200px; max-height: 400px; margin: 20px; border-radius: 10px; ">
        {% else %}
        <div class="name-circle" style="padding: 20px; border-radius: 10%; border: solid 1px rgb(61, 61, 212); width: 70px; margin: 10px; background-color: rgb(61, 61, 212);">
            <center><span style="color: white;">{{request.user.profile.user.username|slice:1}}</span></center>
          </div>
        {% endif %}
        
        <strong style="position: absolute; margin-top: 30px;">@{{request.user.profile.user.username}} | {{request.user.profile.first_name}} {{request.user.profile.last_name}}</strong>

    </div>



</div>
<br><br>
<br>
<h3 style="color: white; text-align: center;">{{request.user.profile.desc}}</h3>
<h5 style="color: white; text-align: center;">birthday: {{request.user.profile.birthday}}</h5>
<p style="color: white; text-align: center;">Gender: {{request.user.profile.gender}}</p>


<br><br>

<div class="container-fluid">
    <div class="row">
{% for i in md %}
    <br>
      <div class="card" style=" margin: auto; box-shadow: 0 0 5px white; max-width: 600px; border-radius: 10px;">
        <div class="flex" style="display: flex;">
          {% if request.user.profile.picture %}
          <img src="{{request.user.profile.picture.url}}" style=" border-radius: 10%; width: 70px; margin: 10px;" alt="pic_profile">


          {% else %}
          <div class="name-circle" style="padding: 20px; border-radius: 10%; border: solid 1px rgb(61, 61, 212); width: 70px; margin: 10px; background-color: rgb(61, 61, 212);">
            <center><span style="color: white;">{{request.user.profile.user.username|slice:1}}</span></center>
          </div>
          {% endif %}
          <strong style="margin-top: 30px;">@{{request.user.profile.user.username}}</strong><span style="margin-left: 10px; margin-top: auto; margin-bottom: auto;">say it:</span>
        </div>
        <div class="texts">
          <p style="text-wrap:pretty; margin: 30px;" dir="auto">
            <a href="{% url 'detail_post' i.id %}" style="text-decoration: none;">{{i.title}}</a>
          </p>
          <p style="text-wrap:pretty; margin: 40px; " dir="auto">
            {{i.desc}}
          </p>
        </div>
        <div class="date-like">
          <span style="margin: 10px;">{{i.date}}</span>

            <span style="float:right; margin-right:10px;" class="like">
              <form method="post" action="{% url 'like_post' i.id %}">
                {% csrf_token %}
                <button type="submit" style="border: none; background-color: white;">
                    {% if i.id in liked_posts %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" style="color:brown;" class="bi bi-heart-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                        </svg>
                    {% else %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" style="color:brown;" class="bi bi-heart" viewBox="0 0 16 16">
                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                        </svg>
                    {% endif %}
                </button>
                <span>{{i.like_count}}</span>
            </form>
            </span>

        </div>
        <div class="border-top"></div><br>
        <center>
          <form action="{% url 'detail_post' i.id %}" method="get">
              <div class="comments" style="max-width: 550px; margin: 5px; display: flex; flex-direction: row;">
                  <input type="text" class="form-control" required="True">
                  <input type="submit" value="submit comment" style="margin-left: 10px; background-color: rgb(61, 61, 212); color: white; border-radius: 10px;" class="btn">
            </div>
          </form>
      </center>
        <br>
      </div>
    {% endfor %}
</div>
</div>
<br><br>
{% endblock %}